* {
    background-color: black;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@import "../src/styles/header/Header.css";
@import "../src/styles/Home/Home.css";
@import "../src/styles/SearchBar/SearchBar.css";
@import "../src/styles/MeuBurger/MenuBurger.css";
@import "../src/styles/Card/CardInput.css";
@import "../src/styles/Profile/ProfileInput.css";
@import "../src/styles/SearchBar/SearchInput.css";
@import "../src/styles/MeuBurger/ManuBurgerContainer.css";
@import "../src/styles/Card/CardContainer.css";
@import "../src/styles/SearchBar/SearchContainer.css";
@import "../src/styles/Footer/Footer.css";
@import "../src/styles/Copyright/Copyright.css";
@import "../src/styles/Events/Events.css";

.App {
    display: flex;
    justify-content: center;
    /* background-color: blue; */
    width: 100%;
}

.wrapperApp {
    /* max-width:360px ; */
    width: 95%;
    background-color: brown;

}