/* * {
    background-color: black;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;


@import "../src/styles/header/Header.css";
@import "../src/styles/SearchBar/SearchBar.css";
@import "../src/styles/MeuBurger/MenuBurger.css";

.App {
    display: flex;
    justify-content: center;
    background-color: blue;
    width: 100%;
}

.wrapperApp {
    width: 95%;

}