

.wrapperLogoMenuBurger {
    display: flex;
    align-items: flex-end;
    width: 150px;
    height: 75px;
    /* background-color: blueviolet; */
}

.wrapperCardProfile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 225px;
    height: 75px;
    /* background-color: blueviolet; */
}

.wrapperHeader {
    width: 100%;
    height: 75px;
    /* background-color: red; */
}


@media screen and (max-width:800px) {
    .wrapperSearchBar {
        display: none;
    }

    .wrapperSearchBarCardProfile {
        width: 200px;
        height: 75px;
        /* background-color: blueviolet; */
    }
}

@media screen and (max-width:450px) {
    .wrapperLogoMenuBurger {
        display: flex;
        align-items: flex-end;
        width: 150px;
        height: 75px;
        /* background-color: blueviolet; */
    }
}