.pop-up{
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    /* background-color: #C6FAA1; */
    background-image: url("../../assets/images/SignIn-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.pop-up h1{
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 15px;
    font-weight:900;
}

.image-blur {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .2);
}

.createaccount {
    width: 100%;
}

.createaccount h1{
    font-size: 45px;
    font-weight: 900;
    color: #009640;
}

.createaccount h3{
    font-weight: bold;
    color: #6d6c6c;
}

.createaccount h2{
    color: #6d6c6c;
}

.input{
    align-items:flex-end;
    height: 97px;
    width: 57%;
    justify-content: space-between; 
    display: flex;
}

.input input{
    width: 47%;
    height: 60px;
    border-radius: 10px;
    background-color: #3b3a3a;
}

.longer {
    height: 30%;
    width: 57%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.longer input{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #3b3a3a;
}

.Btn{
    width: 57%;
    display: flex;
    justify-content: space-between;
}

.Btn button {
    color: #ffffff;
    border-radius: 10px;
    width: 45%;
    height: 45px;
    font-size: 14px;
    font-weight: 650;
}

.Btn button{

}

.input input::placeholder {
    font-size: smaller;
    color: rgb(94, 93, 93);
  }

.longer input::placeholder {
    font-size: smaller;
    color: rgb(94, 93, 93);
}
